@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbcfcf;
  --foreground: #171717;
  --color-black: #171717;
  --color-grey: #c5c4c4;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 20px;
  color: var(--foreground);
  background: var(--color-grey);
  font-family: Arial, Helvetica, sans-serif;
}
